body{
  /*background-color: #E6E6FA;*/
  background-color: white;
}
header{
/* background-color:rgba(228, 238, 241, 1);*/
  /* background-color: #eaf0f2; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:  10px;
  padding: 10px;
  height: 70px;
  font-weight:300;
  font-size: 18px;
  font-family: sans-serif;
  color: DimGrey;

}


.headtext{
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

.bsign{
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}

.aboutme{

  margin-top: 200px;
  

}


.aboutme p{
  font-family: sans-serif;
/*   text-align: center; */
  margin-left: 50px;
  font-size: 40px;
  color: DimGrey;
  font-family: 'Open Sans', sans-serif;
}

#me p{
  text-align: center;
  margin-left: 50px;
  font-size: 40px;
  color: #4B0082;
  
  font-family: 'Open Sans';
   font-weight: bold;
  font-style: bold;
}

#about{
margin-top: 40px; 
text-align: center;
}

.otch{
  margin-top: 20px;
/*   text-align: center; */
  font-family: sans-serif;
  margin-bottom: 300px;

}

.otch button{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
  border: none;
  font-family: sans-serif;

  background-color: #4B0082;

  color: #fff;

  padding-right: 20px;
  padding-left: 20px;
  font-size: 22px;
  padding: 10px 25px 10px 25px;

  box-shadow: -5px -5px 30px rgba(255,255,255,0.6), 4px 5px 30px rgba(72,0,126,0.9);
}

.otch a{

   text-decoration: none; 
    color: white;
}

.lab1{
  font-family: sans-serif;
   color: DimGrey;
  margin-left: 20px;
  margin-top: 100px;
}

.hh1{
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
   color: DimGrey;
   margin-bottom: 10px;
}

.lab1 table{
  border:none;
  border-color: black;
  border-radius: 5px;
  margin-right: 80px;
  margin-left: 50px;
  margin-bottom: 100px;
}
.lab1 object{

  
}

.lab1 td{
 border-top: none;
 border-left: none;
 border-right: none;
 padding: 10px;
  }
.lab1 p{
 font-size: 24px; 
  font-family: sans-serif;
   color:#4B0082;
   text-align: center;

}
.lab1 a{
  font-size: 24px; 
  font-family: sans-serif;
  color: #4B0082;
}
.lab1 img{
  width: 650px;
}


embed, object {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

   @font-face {
       font-family: OpenSans; /* Имя шрифта */
       src: url(../css/opensans-regular.ttf); /* Путь к файлу со шрифтом */
      }
      P {
       font-family: OpenSans;
      }